* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 100%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  background: #ffffff;
}
/* define font-size */
h1 {
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  line-height: clamp(1.8rem, 1.56rem + 1.2vw, 3rem);
  font-weight: 500;
}
h2 {
}
h3 {
}
h4 {
}
p {
}
/* header */
.nav-header {
  background-color: #fdfcfc;
  padding: 10px 20px;
  border: 1px solid #0a0000;
}
header .navbar {
  padding: 0;
}

.navbar-brand img {
  width: 75%;
  height: auto;
}
header .navbar .navbar-nav .nav-item a {
  color: #0a0000 !important;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(0.9375rem, 0.925rem + 0.0625vw, 1rem);
  line-height: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}
.offcanvas.offcanvas-end .btn-close {
  display: none;
}

.offcanvas.offcanvas-end.show .btn-close {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* End Header */
/* Hero Section */
.hero-section {
  text-align: center;
  padding: 200px 20px 45px;
}
.hero-section img {
  width: 78%;
  height: auto;
  padding-top: 45px;
}
.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.content-area p {
  width: calc(100% - 40%);
  font-size: clamp(0.9375rem, 0.925rem + 0.0625vw, 1rem);
  line-height: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}
/* End Hero Section */
/* Additional Content */
.addtional-content {
  padding: 45px 20px 200px;
}
/* End Additional Content */
/* Footer Section */
.footer {
  color: white;
  padding: 90px 20px 20px;
  background-color: rgba(75, 69, 69, 0.73);
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.footer .footer-logo img {
  width: 25%;
  height: auto;
}
.footer .footer-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer-nav li {
  display: inline-block;
  padding: 0 0 10px;
}
.footer .footer-nav a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: clamp(0.9375rem, 0.925rem + 0.0625vw, 1rem);
  line-height: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}
/* End Footer Section */

/* Media Query */
/* Laptop */
@media screen and (min-width: 1125px) and (max-width: 1366px) {
  .addtional-content {
    padding: 45px 20px 150px;
  }
  .hero-section {
    padding: 150px 20px 45px;
  }
  .content-area p {
    width: calc(100% - 30%);
  }
  .footer .footer-nav li {
    padding: 0 10px 10px;
  }
}
/* Tablet */
@media screen and (max-width: 1024px) {
  .navbar-brand img {
    width: 66%;
  }
  header .navbar .navbar-nav .nav-item a {
    font-size: 12px;
    line-height: 18px;
  }
  .content-area p {
    width: calc(100% - 15%);
  }
  .addtional-content {
    padding: 30px 20px 100px;
  }
  .hero-section {
    text-align: center;
    padding: 100px 20px 30px;
  }

  .hero-section img {
    gap: 10px;
  }
}
/* Tablet horizontal */
@media screen and (min-width: 1025px) and (max-width: 1124px) {
  .addtional-content {
    padding: 30px 20px 100px;
  }
  .hero-section {
    text-align: center;
    padding: 100px 20px 30px;
  }
}
/* Mobile */
@media screen and (max-width: 991px) {
  .offcanvas.offcanvas-end .navbar-nav {
    margin: 100px 20px !important;
    text-align: center;
  }
  header .navbar .container {
    flex-wrap: nowrap;
  }
  .footer .footer-logo img {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    background-color: rgb(75, 69, 69, 0.73);
  }
  .content-area p {
    width: auto;
  }
  .addtional-content {
    padding: 30px 10px 60px;
  }
  .hero-section {
    text-align: center;
    padding: 60px 10px 30px;
  }

  .footer .footer-nav li {
    display: inline-block;
    padding: 0 10px 10px;
  }

  .hero-section img {
    padding-top: 10px;
  }
  .offcanvas.offcanvas-end {
    width: 250px;
  }
  .footer .footer-container {
    gap: 30px;
  }
}
@media (max-width: 567px) {
  .footer .footer-logo img {
    width: 100%;
  }
}
