/* Add transition styles */
.nav-menu {
  transition: transform 0.3s ease-in-out;
}
.nav-menu {
  z-index: 0;
}
.nav-menu.active {
  transform: translateX(0);
  z-index: 9;
}
[aria-label='Toggle navigation'] {
  border: 1px solid rgba(75, 69, 69, 0.73);
  border-radius: 4px;
}
/* heading */
.hero-section > div {
  padding-top: 90px;
}
.additional-section > div {
  padding-bottom: 90px;
}
.hero-section h1 {
  text-align: center;
}

/* Footer */
footer {
  background-color: rgba(75, 69, 69, 0.73);
}

@media screen and (max-width: 1366px) {
  .hero-section > div {
    padding-top: 60px;
  }
  .additional-section > div {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-section > div {
    padding-top: 50px;
  }
  .additional-section > div {
    padding-bottom: 50px;
  }
}
